.candidate {
  border: 2px solid black;
  color: white;
  border-radius: 50%;
  /* width: 8%;
  height: 30px; */
  margin: 1px;
}

.voter {
  stroke: black;
  stroke-width: 1;
}
body{
  --fajardo-color: #008333;
  --petro-color: #6d356f;
  --duque-color: #667f9e;
  --vargas-color: #2e3191;
  --delacalle-color: rgb(194, 13, 25);
  --morales-color: #ff6600;
  --cordoba-color: rgb(157, 19, 90);
}

/* .fajardo {
  background-color: var(--fajardo-color);
  fill: var(--fajardo-color);
}

.petro {
  background-color: var(--petro-color);
  fill: var(--petro-color);
}

.duque {
  background-color: var(--duque-color);
  fill: var(--duque-color);
}

.vargas {
  background-color: var(--vargas-color);
  fill: var(--vargas-color);
}

.delacalle {
  background-color: var(--delacalle-color);
  fill: var(--delacalle-color);
}

.morales {
  background-color: var(--morales-color);
  fill: var(--morales-color);
}

.otros {
  background-color: grey;
  fill:grey;
}

.blanco {
  background-color: white;
  fill:white;
  color: black;
}

.cordoba {
  background-color: var(--cordoba-color);
  fill:var(--cordoba-color);
} */