.button_image {
  max-width: 100%;
  height: auto;
.carousel-indicators {
  margin-bottom: 0;
}

.carousel-indicators li {
  background-color: lightgray;
}

.carousel-indicators .active {
  background-color: darkgrey;
}

body {
  background-color: lightyellow;
}

#container_carrousel_demography {
  background-color: lightgoldenrodyellow;
}